<div ng-controller="homeController">

    This is home page

    <uib-carousel class="home-slider" active="active" interval="3000" no-wrap="false">
        <uib-slide ng-repeat="slide in slides track by slide.id" index="$index">
            <a href="#/trail/{{slide.id}}" class="image-popup">
                <img data-ng-src="{{slide.image}}" style="margin: auto;">
                <!-- <div class="carousel-caption"> -->
                    <!-- <h4>Slide {{slide.id}}</h4> -->
                    <!-- <p>{{slide.text}}</p> -->
                <!-- </div> -->
            </a>
        </uib-slide>
    </uib-carousel>

    <div class="form-group search-wrap">
        <form role="search" data-ng-submit="search()">
            <div class="col-xs-9">
                <input type="text" class="form-control" placeholder="Search" data-ng-model="q">
            </div>
            <div class="col-xs-3">
                <input type="button" class="form-control" value="search" data-ng-model="q">
            </div>
        </form>
    </div>

</div>
