
<div data-ng-controller="trailController">

	<div class="track-content">

		<div class="form-group search-wrap">
			<form role="search" data-ng-submit="search()">
				<div>
					<input type="text" class="form-control" placeholder="Search" data-ng-model="q">
				</div>
				<div>
					<input type="submit" class="form-control" value="جستجو">
				</div>
			</form>
		</div>

		<div class="trail-wait" data-ng-if="!!fetching">
			<i class="fa fa-spin fa-2x fa-circle-o-notch"></i>
			<span>در حال دریافت اطلاعات. لطفاً منتظر بمانید.</span>
		</div>

		<div class="trail-features" data-ng-if="!fetching">
			<span class="track-title" data-ng-bind="trail.Name"></span>
			<span class="track-description" data-ng-bind="trail.Description"></span>
			<p class="track-title">خصوصیات</p>
			<ul>
				<li>
					<span class="feature-title">عنوان</span>
					<span class="feature" data-ng-bind="trail.Name"></span>
				</li>
				<li>
					<span class="feature-title">دشواری مسیر</span>
					<span class="feature" data-ng-bind="trail.DifficultyTitle"></span>
				</li>
				<li>
					<span class="feature-title">بهترین فصل</span>
					<span class="feature" data-ng-bind="trail.Season"></span>
				</li>
				<li>
					<span class="feature-title">شهر مبداء</span>
					<span class="feature" data-ng-bind="trail.DepartureCity"></span>
				</li>
				<li>
					<span class="feature-title">مسیر</span>
					<span class="feature" data-ng-bind="trail.DepartureCityPath"></span>
				</li>
				<li>
					<span class="feature-title">درجه سختی</span>
					<span class="feature" data-ng-bind="trail.DifficultyTitle"></span>
				</li>
				<li>
					<span class="feature-title">مدت زمان پیمایش</span>
					<span class="feature" data-ng-bind="trail.Duration"></span>
				</li>
				<li>
					<span class="feature-title">طول مسیر (متر)</span>
					<span class="feature" data-ng-bind="trail.Length | number"></span>
				</li>
				<li>
					<span class="feature-title">امداد</span>
					<span class="feature" data-ng-bind="trail.SosService"></span>
				</li>
			</ul>
		</div>

		<!--<div id="map"></div>-->
		<div class="kml-map" kml-drawer kml-path="trail.KmlPath"></div>

		<div nvd3-sparkline-chart
			 class="trail-elevation-chart"
			 data="chartData"
			 id="exampleId"
			 x="xFunction()"
			 y="yFunction()">
			<svg></svg>
		</div>

		<div class="trail-features home-list gallery">
			<div data-ng-if="trail.images">
				<h2>گالری تصاویر</h2>
				<!--<ul>
					<li data-ng-repeat="img in trail.images">
						<img data-ng-src="{{'/assets/images/' + img}}" />
					</li>
				</ul>-->
				<ng-gallery images="trail.images"></ng-gallery>
			</div>

			<div data-ng-if="trail.maps">
				<h2>نقشه&zwnj;ها</h2>
				<ul>
					<li data-ng-repeat="img in trail.maps">
						<img data-ng-src="{{'/assets/images/' + img}}" />
					</li>
				</ul>
			</div>

			<div data-ng-if="trail.tours">
				<h2>تور مجازی</h2>
				<ul>
					<li data-ng-repeat="tour in trail.tours">
						<figure>
							<a data-ng-href="{{ '/virtualTours/' + tour.url }}">
								<img data-ng-src="{{'/assets/images/' + tour.img}}"/>
							</a>
						</figure>
					</li>
				</ul>
			</div>

		</div>

	</div>
</div>
