
<div data-ng-controller="trailController">

    <div class="track-content">

        <div class="search-wrap container">
            <form class="form-horizontal" role="search" data-ng-submit="search()">
                <div class="form-group">
                    <div class="search-input-wrap col-sm-6 col-sm-offset-3">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="" data-ng-model="q">
                            <span class="input-group-btn">
                                <input type="submit" class="btn btn-default" value="جستجو">
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="trail-wait" data-ng-if="!!fetching">
            <i class="fa fa-spin fa-2x fa-circle-o-notch"></i>
            <span>در حال دریافت اطلاعات. لطفاً منتظر بمانید.</span>
        </div>

        <div class="trail-features container" data-ng-if="!fetching">
            <h4 class="trail-title trail-heading" data-ng-bind="trail.Name"></h4>
            <p class="trail-description" data-ng-bind="trail.Description"></p>

            <h4 class="trail-heading">خصوصیات</h4>
            <ul class="trail-info">
                <li data-ng-repeat="info in features" data-ng-class="info.cls">
                    <span class="feature-title">{{info.label}}</span>
                    <span class="feature">{{trail[info.prop] | useFilter:info.filter}}</span>
                </li>
            </ul>
        </div>

        <div class="kml-map" kml-drawer kml-path="trail.KmlPath"></div>

        <div nvd3-sparkline-chart
             class="trail-elevation-chart"
             data="chartData"
             id="exampleId"
             x="xFunction()"
             y="yFunction()">
            <svg></svg>
        </div>

        <div class="featured-list container">
            <div data-ng-if="trail.images">
                <h4>گالری تصاویر</h4>
                <ng-gallery images="trail.images"></ng-gallery>
            </div>
        </div>

        <div class="featured-list extra-margin container">
            <div data-ng-if="trail.maps">
                <h4>نقشه&zwnj;ها</h4>
                <div class="row">
                    <div class="item col-xs-6 col-sm-3" data-ng-repeat="img in trail.maps">
                        <img data-ng-src="{{'/assets/images/' + img}}" />
                    </div>
                </div>
            </div>
        </div>

        <div class="featured-list container">
            <div data-ng-if="trail.tours">
                <h4>تور مجازی</h4>
                <div class="row">
                    <div class="item col-xs-6 col-sm-3" data-ng-repeat="tour in trail.tours">
                        <figure>
                            <a data-ng-href="{{'/virtualTours/' + tour.url}}">
                                <img data-ng-src="{{'/assets/images/' + tour.img}}"/>
                            </a>
                        </figure>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
