<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--<add name="LazzorDbContext" connectionString="metadata=res://*/Lazzor.csdl|res://*/Lazzor.ssdl|res://*/Lazzor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.183.214;initial catalog=Paakoob;persist security info=True;user id=farshad;password=farshad;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="LazzorDbContext" connectionString="metadata=res://*/Lazzor.csdl|res://*/Lazzor.ssdl|res://*/Lazzor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.paakoob.com;initial catalog=Paakoob;persist security info=True;user id=dehbod;password=_s_now7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="LazzorDbContext" connectionString="metadata=res://*/Lazzor.csdl|res://*/Lazzor.ssdl|res://*/Lazzor.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Paakoob;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>