# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

/.vscode
/lib
/theme
/build/node_modules
/src/font/iransans
/database
/solution
/assets/images
/publish
