# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files

/.vs
/.publish
/**/bin
/**/obj
/**/node_modules
/Lazzor.Web.Client/lib
/Lazzor.Web.Client/src/font/iransans
/Lazzor.Web.Client/assets/images
/packages
/database
