USE [master]
GO
/****** Object:  Database [Paakoob]    Script Date: 2016-07-11 16:24:57 ******/
CREATE DATABASE [Paakoob]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Paakoob', FILENAME = N'E:\DB\Paakoob\Paakoob.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Paakoob_log', FILENAME = N'E:\DB\Paakoob\Paakoob_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Paakoob].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Paakoob]
GO
USE [Paakoob]
GO
/****** Object:  Table [dbo].[City]    Script Date: 2016-07-11 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[City](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Name_EN] [nvarchar](200) NULL,
	[ID_Province] [bigint] NULL,
 CONSTRAINT [PK_City] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Country]    Script Date: 2016-07-11 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Country](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Name_EN] [nvarchar](200) NULL,
 CONSTRAINT [PK_Country] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Month]    Script Date: 2016-07-11 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Month](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Order] [int] NULL,
	[Name] [nvarchar](100) NULL,
	[Name_EN] [nvarchar](100) NULL,
 CONSTRAINT [PK_Month] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Province]    Script Date: 2016-07-11 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Province](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Name_EN] [nvarchar](200) NULL,
	[ID_State] [bigint] NULL,
 CONSTRAINT [PK_Province] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[State]    Script Date: 2016-07-11 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[State](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](200) NULL,
	[Name_EN] [nvarchar](200) NULL,
	[ID_Country] [bigint] NULL,
 CONSTRAINT [PK_State] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Trail]    Script Date: 2016-07-11 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Trail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](1000) NULL,
	[Name_EN] [nvarchar](1000) NULL,
	[Description] [nvarchar](max) NULL,
	[KmlFile] [xml] NULL,
	[ID_Type] [bigint] NULL,
	[ID_City_From] [bigint] NULL,
	[ID_City_To] [bigint] NULL,
	[Length] [bigint] NULL,
	[Ascend] [bigint] NULL,
	[Descend] [bigint] NULL,
	[MinElevation] [bigint] NULL,
	[MaxElevation] [bigint] NULL,
	[TechnicalDifficulty] [int] NULL,
	[DurationDay] [bigint] NULL,
	[Thumbnail] [varbinary](max) NULL,
 CONSTRAINT [PK__Trail__3214EC0745508170] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TrailMonth]    Script Date: 2016-07-11 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TrailMonth](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[ID_Month] [bigint] NOT NULL,
	[ID_Trail] [bigint] NOT NULL,
 CONSTRAINT [PK_TrailMonth] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Type]    Script Date: 2016-07-11 16:24:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Name_EN] [nvarchar](100) NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[City]  WITH CHECK ADD  CONSTRAINT [FK_City_Province] FOREIGN KEY([ID_Province])
REFERENCES [dbo].[Province] ([Id])
GO
ALTER TABLE [dbo].[City] CHECK CONSTRAINT [FK_City_Province]
GO
ALTER TABLE [dbo].[Province]  WITH CHECK ADD  CONSTRAINT [FK_Province_State] FOREIGN KEY([ID_State])
REFERENCES [dbo].[State] ([Id])
GO
ALTER TABLE [dbo].[Province] CHECK CONSTRAINT [FK_Province_State]
GO
ALTER TABLE [dbo].[State]  WITH CHECK ADD  CONSTRAINT [FK_State_Country] FOREIGN KEY([ID_Country])
REFERENCES [dbo].[Country] ([Id])
GO
ALTER TABLE [dbo].[State] CHECK CONSTRAINT [FK_State_Country]
GO
ALTER TABLE [dbo].[Trail]  WITH CHECK ADD  CONSTRAINT [FK_Trail_City] FOREIGN KEY([ID_City_From])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Trail] CHECK CONSTRAINT [FK_Trail_City]
GO
ALTER TABLE [dbo].[Trail]  WITH CHECK ADD  CONSTRAINT [FK_Trail_City1] FOREIGN KEY([ID_City_To])
REFERENCES [dbo].[City] ([Id])
GO
ALTER TABLE [dbo].[Trail] CHECK CONSTRAINT [FK_Trail_City1]
GO
ALTER TABLE [dbo].[Trail]  WITH CHECK ADD  CONSTRAINT [FK_Trail_Type] FOREIGN KEY([ID_Type])
REFERENCES [dbo].[Type] ([Id])
GO
ALTER TABLE [dbo].[Trail] CHECK CONSTRAINT [FK_Trail_Type]
GO
ALTER TABLE [dbo].[TrailMonth]  WITH CHECK ADD  CONSTRAINT [FK_TrailMonth_Month] FOREIGN KEY([ID_Month])
REFERENCES [dbo].[Month] ([Id])
GO
ALTER TABLE [dbo].[TrailMonth] CHECK CONSTRAINT [FK_TrailMonth_Month]
GO
ALTER TABLE [dbo].[TrailMonth]  WITH CHECK ADD  CONSTRAINT [FK_TrailMonth_Trail] FOREIGN KEY([ID_Trail])
REFERENCES [dbo].[Trail] ([Id])
GO
ALTER TABLE [dbo].[TrailMonth] CHECK CONSTRAINT [FK_TrailMonth_Trail]
GO
USE [master]
GO
