html {
	font-family: IRANSans;
	color: #222;
	font-size: 1em;
	line-height: 1.4;
	box-sizing: border-box;
	overflow-x: hidden;
}

*, *:before, *:after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

body {
	font-family: iransans, 'Roboto', sans-serif;
	letter-spacing: 0.04em;
	margin: 0;
	padding: 132px 0 0 0;
	direction: rtl;
}

.content-wrap {
	width: 100%;
	margin: 0 auto;
}

/*-------------------Sticky footer-------------------*/
html, body {
	height: 100%;
}

.page-wrap {
	min-height: 100%;
}

.content-wrap {
	overflow: auto;
	padding-bottom: 150px;
}
/* must be same height as the footer */

footer {
	position: relative;
	margin-top: -150px; /* negative value of footer height */
	height: 150px;
	clear: both;
}

/*Opera Fix*/
body:before {
	content: "";
	height: 100%;
	float: left;
	width: 0;
	margin-top: -32767px;

}

/*--------------Header Style-------------------------*/

.header {
	background-color: white;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	border-bottom: solid #CBCDD2 0.1rem;
}

	.header > .content {
		height: 4.375rem;
		margin: 0 auto;
		width: 70%;
		color: #838994;
		font-size: 1.05rem;
		min-width: 50rem;
	}

.site-title h1 {
	margin: 20px 0 0 0;
	font-size: 30px;
	letter-spacing: -0.05em;
}

.content span {
	color: #f05c14;
}

.header .logo img {
	float: left;
	width: 450px;
	margin-top: 15px;
}

.links {
	float: right;
	margin-top: 1.7rem;
	-webkit-font-smoothing: antialiased;
}

	.links li {
		display: inline-block;
		margin-left: 1.05rem;
	}

		.links li:hover {
			color: #333333;
			cursor: pointer;
		}

.active {
	color: #4c5058;
	font-weight: 500;
}

/**************************************************/
.nav-bar-header {
}

.navbar {
	background-color: transparent;
	border: none;
	margin-top: 10px;
}

.navbar-brand {
	padding-top: 5px;
	height: 80px;
	margin-top: -60px;
}

	.navbar-brand img {
		width: 100%;
	}

.search-wrap form {
	height: 45px;
}

.search-wrap div {
	display: inline-block;
}

.form-group {
	height: 100px;
	margin: 0;
	padding-top: 40px;
}

.search-wrap form {
	margin: 0 auto;
	width: 500px;
}

.search-wrap input[type=text] {
	height: 30px;
	border: 2px solid #ccc;
	border-radius: 4px;
	font-size: 16px;
	width: 400px;
}

.search-wrap input[type=submit] {
	height: 30px;
	border: none;
	border-radius: 4px;
	font-size: 16px;
	background-color: #f05c14;
	color: #fff;
	width: 80px;
	text-align: center;
	line-height: 16px;
}

.home-slider {
	height: 550px;
}

	.home-slider img {
		height: 550px !important;
		width: 100%;
	}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}
/*-------------------------------------------*/

footer {
	background-color: #01170a;
	color: #fff;
}

	footer .footer-wrap {
		width: 800px;
		margin: 0 auto;
		text-align: center;
		/*width:60%;*/
		padding: 30px 10px;
	}

		footer .footer-wrap > div {
			display: inline-block;
			width: 49%;
			padding: 0 10px;
		}

	footer .title {
		text-align: right;
	}
	footer .title h3 {
		margin-top: 0;
		margin-left: 5px;
		display: inline-block;
	}

	footer .social-media i {
		font-size: 30px;
		margin-left: 35px;
	}

	footer .newsletter {
		text-align: left;
	}
	footer .newsletter input {
		margin-bottom: 15px;
		width: 215px;
		color: #000;
		font-size: 11px;
		direction: ltr;
		border-radius: 3px;
		border: none;
		padding: 6px 5px 4px;
	}
	footer .newsletter button {
		background: #f05c14;
		border-radius: 3px;
		border: none;
		padding: 4px 9px;
	}
	footer .newsletter button:hover {
		background-color: #a3db8c;
		color: #01170a;
	}

	footer .copyright {
		text-align: left;
		vertical-align: bottom;
	}
	footer .copyright .notice {
		position: relative;
		top: -1px;
	}

/*-------------------trail---------------------*/
.trail-wait {
	text-align: center;
}
.trail-wait i {
	font-size: 12px;
	line-height: 12px;
}

.trail-features {
	width: 800px;
	margin: 0 auto;
}

	.trail-features ul {
		text-decoration: none;
		text-align: right;
		list-style: none;
	}

.feature-title {
	font-weight: 800;
	background-color: #f0f1f2;
	width: 150px;
	padding: 10px;
	float: right;
	margin-left: 10px;
}

.feature {
	background-color: #f7f9fa;
	padding-right: 10px;
	display: block;
	padding: 10px;
	overflow: hidden;
}

.trail-features li {
	margin-bottom: 5px;
}

.track-title {
	display: block;
	text-align: right;
	margin-bottom: 10px;
	font-size: 16px;
	font-weight: 600;
	margin: 10px auto;
}

.track-description {
	display: block;
	text-justify: newspaper;
}

.trail-elevation-chart {
	display: inline-block;
	width: 100%;
	height: 150px;
}

	.trail-elevation-chart .nv-valueWrap,
	.trail-elevation-chart .nv-hoverValue {
		display: none;
	}

.kml-map {
	width: 100%;
	height: 400px;
	margin-top: 10px;
}

/*--------------------search-------------------*/
.search-wait {
	text-align: center;
}
.search-wait i {
	font-size: 12px;
	line-height: 12px;
}

.search-result {
	list-style: none;
	text-align: right;
	display: inline-block;
	padding-right: 10px;
	background-color: #f0f1f2;
	height: 70px;
	padding-top: 10px;
	overflow: hidden;
	display: block;
}

.search-title a {
	text-decoration: none;
	font-weight: 600;
}

.search-thumbnail {
	vertical-align: top;
	margin-bottom: 10px;
	width: 70px;
	height: 70px;
	float: right;
	margin-left: 10px;
}

.search-item {
	margin-bottom: 20px;
}

.search-result-wrap {
	width: 800px;
	margin: 0 auto;
}

.search-result li {
	margin-left: 10px;
	display: inline-block;
}

.search-result .search-link {
	display: block;
	margin-bottom: 10px;
	font-weight: 700;
	padding-bottom: 0px;
}

.search-result .departue-city {
	width: 100px;
}

.search-result .difficulty-level {
	width: 80px;
}

.search-result .duration {
	width: 40px;
}

.search-result .duration i {
		margin-left: 2px;
	}

.search-result .season {
	width: 200px;
}

.search-result .length i {
	font-size: 16px;
}

.home-list {
	text-align: right;
	margin-bottom: 15px;
}

.home-list.last-item {
	margin-bottom : 30px;
}

.home-list-wrap {
	width: 800px;
	margin: auto;
}

.home-list a {
	text-decoration: none;
	color: #333;
}

.home-list li {
	vertical-align: top;
}

.home-list .title {
	text-align: center;
	font-size: 14px;
	font-weight: 600;
    border-bottom: 1px dashed #000;
    margin: 0 0 5px;
	height: 21px;
}

.home-list ul {
	list-style: none;
	margin: 0 auto;
	display: inline-block;
}

.home-list ul li {
	display: inline-block;
	/*width: 190px;*/
	margin-left: 10px;
	margin-bottom: 15px;
}

.home-list ul li figcaption {
	margin-top : 1px;
}

.home-list h2 {
	text-align: right;
	color: #f05c14;
	font-size: 1.1em;
	border-top: 1px solid;
	padding-top: 15px;
}


.home-list ul li figure {
	margin: 0;
}

.home-list ul li figure img {
	width: 185px;
	height : 122px;
}

.home-list ul li figcaption div.home-icon {
	width : 16px;
	float : right;
	margin-left: 5px;
	/*margin-right : 10px;*/
}

.home-list ul li figcaption div.home-description {
	display : block;
	overflow : hidden;
	text-align: right;

}

.home-list ul li figcaption p {
	margin-bottom: 0;
	font-weight: 600;
	border-bottom : 1px dashed;
	margin-bottom: 5px;
	text-align: center;
}

.newly-added-maps {
	background-color: #a3db8c;
	margin-top: 40px;
	padding: 0 0 20px;
}
.newly-added-maps h2 {
	border: none;
	color: #01170a;
}
.home-list.newly-added-maps figcaption p {
	border: none;
}

.newly-added-tours {
	background-color: white;
}

.home-list.newly-added-tours figcaption p  {
	border: none
}

.newly-added-tours h2 {
	border: none;
	margin-top: 15px;
	padding-top: 0px;
}

.gallery img{
	width: 185px;
	height: 103px;
	
}

.gallery .ng-thumb {
	float:right;
	margin-left: 13px;
	margin-bottom: 13px;
}