/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
 /*IRAN Sans-serif fonts are considered a proprietary software.
To gain information about the laws regarding the use of these fonts, please visit www.fontiran.com

This set of fonts are used in this project under the license: (QEMER)*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    font-family: IRANSans
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body {
    font-family:'Roboto',sans-serif;
    letter-spacing: 0.04em;
    margin: 0;
    padding: 0;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


/*--------------Header Style-------------------------*/

.header {
    background-color: white;
    position:fixed;
    top:0;
    width:100%;
    z-index: 9999;
    border-bottom: solid #CBCDD2 0.1rem;

}

.header > .content {
    height: 4.375rem;
    margin: 0 auto;
    width:70%;
    color: #838994;
    font-size: 1.05rem;
    min-width: 50rem;
}

.content h1 {
  margin: 33px 0 0 0;
  font-size: 30px;
  letter-spacing: -0.05em
}

.content span {color: #f05c14;
}

.header .logo {
  float:left;
}

.links{
    float:right;
    margin-top:1.7rem;
    -webkit-font-smoothing: antialiased;
}

.links li {
    display:inline-block;
    margin-left:1.05rem;
}

.links li:hover {
    color: #333333;
    cursor: pointer;
}

.active {
    color: #4c5058;
    font-weight: 500;
}

/*--------------------cover style----------------------*/
.cover {
    position:relative;
    top:4.375rem;
    background-image: url('../img/bgnd2.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    height: 37rem;
    background-position:center center ;
}

.cover > .content {
    text-align: center;
    margin:0 auto;
    padding-top:12rem;
    width:60%;
    color: black;
}

.cover > .content > h1 {
    font-size: 3.125rem;
    margin:0;
    font-weight: 100;}

/*form {
  width:500px;
  margin:30px auto;
  }*/

  /*input[type=text] {
      width: 150px;
      box-sizing: border-box;
      border: 2px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
      background-color: white;
      background-image: url('searchicon.png');
      background-position: 10px 10px;
      background-repeat: no-repeat;
      padding: 12px 20px 12px 40px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
  }*/

  /*input[type=button] {
    width: 80px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: grey;
    background-position: 10px 10px;
    padding: 12px;
}*/


/*-------------------------footer style--------------------------*/
/*.footer{
    position:relative;
    top:1srem;
    padding-bottom:4rem;}*/



.footer li {
    border-radius: 1.25rem;
    width: 2.5rem;
    display: inline-block;
    margin: 1.25rem 5px;
    border: 1px solid #eaebec;
    padding: 0.625rem 0;
    text-align: center;
    cursor:pointer;
}

.footer h3{
    font-weight: 100;
    margin-bottom: 0;
    margin-top: 1rem;}

.container div {
    width: 33%;
}
.col1 {
    float: left;
}
.col2 {
    display:inline-block;
}
.col3 {
    float:right;
}

.icons {
    list-style: none;
    padding-left: 0;
    margin-top:0;
    margin-bottom: 0;
}

.footer p{
    margin-top:0;
    color: #838994;
    font-weight: 100; }

.fa-twitter{color:#4099FF;}

.fa-facebook{color:#3b5998;}

.fa-instagram{color:#3f729b;}

.fa{font: normal normal normal 14px/1 FontAwesome;}
Status API Training Shop Blog About
















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
