

/* Owl Override Style */
.owl-carousel .owl-nav,
.owl-carousel-posts .owl-nav {
  margin-top: 0;
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev,
.owl-carousel-posts .owl-nav .owl-next,
.owl-carousel-posts .owl-nav .owl-prev {
  top: 50%;
  margin-top: -29px;
  z-index: 9999;
  position: absolute;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.owl-carousel-posts .owl-nav .owl-next,
.owl-carousel-posts .owl-nav .owl-prev {
  top: 24%;
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel-posts .owl-nav .owl-next {
  right: 40px;
}
.owl-carousel .owl-nav .owl-next:hover,
.owl-carousel-posts .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-nav .owl-prev,
.owl-carousel-posts .owl-nav .owl-prev {
  left: 40px;
}
.owl-carousel .owl-nav .owl-prev:hover,
.owl-carousel-posts .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

.owl-carousel-posts .owl-nav .owl-next {
  right: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-nav .owl-next {
    right: 0px;
  }
}

.owl-carousel-posts .owl-nav .owl-prev {
  left: -50px;
}
@media screen and (max-width: 768px) {
  .owl-carousel-posts .owl-nav .owl-prev {
    left: 0px;
  }
}

.owl-carousel-posts .owl-nav .owl-next i,
.owl-carousel-posts .owl-nav .owl-prev i,
.owl-carousel-fullwidth .owl-nav .owl-next i,
.owl-carousel-fullwidth .owl-nav .owl-prev i {
  color: #000;
}
.owl-carousel-posts .owl-nav .owl-next:hover i,
.owl-carousel-posts .owl-nav .owl-prev:hover i,
.owl-carousel-fullwidth .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth .owl-nav .owl-prev:hover i {
  color: #000;
}

.owl-carousel-fullwidth.fh5co-light-arrow .owl-nav .owl-next i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-nav .owl-prev i {
  font-size: 50px;
  color: #fff;
}
.owl-carousel-fullwidth.fh5co-light-arrow .owl-nav .owl-next:hover i,
.owl-carousel-fullwidth.fh5co-light-arrow .owl-nav .owl-prev:hover i {
  color: #fff;
}

.owl-carousel .owl-nav .owl-next i,
.owl-carousel .owl-nav .owl-prev i {
  font-size: 50px;
  color: rgba(0, 0, 0, 0.3);
}
.owl-carousel .owl-nav .owl-next:hover i,
.owl-carousel .owl-nav .owl-prev:hover i {
  color: rgba(0, 0, 0, 0.6);
}

.owl-carousel .owl-nav .owl-next:hover {
  margin-right: -10px;
}

.owl-carousel .owl-nav .owl-prev:hover {
  margin-left: -10px;
}

@media screen and (max-width: 768px) {
  .owl-theme .owl-nav {
    display: none;
  }
}

.owl-theme .owl-nav [class*="owl-"] {
  background: none !important;
}
.owl-theme .owl-nav [class*="owl-"] i {
  font-size: 30px;
}
.owl-theme .owl-nav [class*="owl-"] i:hover, .owl-theme .owl-nav [class*="owl-"] i:focus {
  background: none !important;
}
.owl-theme .owl-nav [class*="owl-"]:hover, .owl-theme .owl-nav [class*="owl-"]:focus {
  background: none !important;
}
